/*-----fonts-----*/
@font-face {
  font-family: "regular";
  src: url("../fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Rubik-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Rubik-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
/*-----fonts-----*/
/*-----defaul-----*/
* {
  box-sizing: border-box;
}

body,
html {
  font-family: "regular";
  color: #1a1a1a;
  font-size: 18px;
  min-width: 320px;
  min-height: 640px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
  display: inline-block;
}
.ln,
.ln li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-disk li {
  padding-left: 15px;
  position: relative;
}
.custom-disk li:before {
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 8px;
  position: absolute;
  display: block;
  z-index: auto;
  background: #1a1a1a;
  border-radius: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cover {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

b,
strong {
  font-weight: normal;
  font-family: "medium";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "bold";
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h2.global {
  font-size: 48px;
  padding: 40px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  padding: 0 30px;
}

.social {
  display: inline-block;
  vertical-align: middle;
}
.social a {
  display: inline-block;
  margin: 0 5px;
}
.social a img {
  object-fit: cover;
  width: 20px;
  height: 20px;
}

.default-wrap {
  padding: 0 40px;
}
.default-wrap h1 {
  margin: 0 0 60px;
}
.default-wrap h2 {
  padding: 40px 0;
  width: 70%;
}

.desktop-hidden {
  display: none;
}

.owl-portfolio.owl-carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wow {
  visibility: hidden;
}

/*-----defaul-----*/
/*-----btns-----*/
.btn {
  text-decoration: none;
  position: relative;
  padding: 4px 50px 5px 0px;
  background: none;
  font: inherit;
  font-size: 24px;
  display: inline-block;
  color: inherit;
  border: 0;
  cursor: pointer;
  transition: ease-out 0.25s;
  background-position: right 13px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-image: url("../images/arr-next-black-lite.png");
}
.btn:hover {
  color: #483697;
  padding-right: 60px;
  background-image: url("../images/arr-next-violet-lite.png");
}

.btn-back {
  text-decoration: none;
  position: relative;
  padding: 4px 0px 5px 50px;
  background: none;
  font: inherit;
  font-size: 24px;
  display: inline-block;
  color: inherit;
  border: 0;
  cursor: pointer;
  transition: ease-out 0.25s;
  background-position: left 13px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-image: url("../images/arr-back-black-lite.png");
}
.btn-back:hover {
  color: #483697;
  padding-right: 60px;
  background-image: url("../images/arr-back-violet-lite.png");
}

.more-link {
  position: relative;
  text-decoration: none;
}
.more-link:after {
  content: "";
  width: 32px;
  height: 2px;
  left: 100%;
  top: 50%;
  position: absolute;
  display: block;
  z-index: auto;
  background: #1a1a1a;
  margin-left: 10px;
}
.more-link:hover {
  color: #483697;
}
.more-link:hover:after {
  background: #483697;
}

.arrow-btn img {
  width: 90px;
}

.btn-more {
  cursor: pointer;
  margin: 60px 0;
  padding: 15px 0;
  text-align: center;
  font-family: "medium";
  font-size: 24px;
}
.btn-more i {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/ico-plus.png");
  margin-right: 15px;
}
.btn-more:hover {
  background: #483697;
  color: #ffffff;
}
.btn-more:hover i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/ico-plus-w.png");
}
.btn-more i,
.btn-more span {
  vertical-align: middle;
}

/*-----btns-----*/
/*-----forms-----*/
input,
textarea,
.custom-select {
  padding: 4px 0px 5px;
  border: 0;
  border-bottom: 1px solid #1a1a1a;
  font: inherit;
  resize: none;
  width: 100%;
}
input:focus,
textarea:focus,
.custom-select:focus {
  outline: 0;
  border-color: #483697;
}

.file-decorate.error-input span,
.error-input {
  border-color: #f25368;
}

.checkbox.error-input {
  color: #f25368;
}

/*-file-upload-*/
.input-file {
  height: 30px;
  visibility: hidden;
}

.file-decorate {
  height: 30px;
  position: relative;
  margin-top: -30px;
  margin-bottom: 15px;
}
.file-decorate span {
  display: block;
  border-bottom: 1px solid;
  padding: 4px 0px 5px;
  cursor: pointer;
}
.file-decorate span:hover {
  border-color: #483697;
}
.file-decorate i {
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  position: absolute;
  display: none;
  z-index: 2;
  margin: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close-b.png");
  cursor: pointer;
}
.file-decorate.full i {
  display: block;
}

/*-file-upload-*/
/*-custom-select-*/
.custom-select {
  cursor: pointer;
  position: relative;
}
.custom-select ul {
  position: absolute;
  left: -1px;
  top: 13px;
  right: -1px;
  z-index: 1;
  padding: 14px 0 0;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #1a1a1a;
  background: #ffffff;
  overflow: hidden;
  border-top: 0;
  margin: 0;
}
.custom-select ul li {
  padding: 2px 15px;
  cursor: pointer;
  transition: ease-out 0.5s;
}
.custom-select ul li:hover {
  background: #A5A5A5;
}
.custom-select.active {
  z-index: 3;
}
.custom-select.active ul {
  visibility: visible;
  opacity: 1;
}
.custom-select.active i {
  background-image: url("../images/cs-up.png");
}
.custom-select span {
  position: relative;
  z-index: 2;
}
.custom-select i {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/cs-down.png");
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 2;
  margin: 9px;
}

/*-custom-select-*/
/*-checkbox-select-*/
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.checkbox:hover input ~ span {
  background-color: #ccc;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ span {
  background-color: #1a1a1a;
}
.checkbox input:checked ~ span:after {
  display: block;
}
.checkbox span {
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
  position: absolute;
  display: block;
  z-index: auto;
  background: #A5A5A5;
  border-radius: 100%;
}
.checkbox span:after {
  content: "";
  width: 8px;
  height: 8px;
  left: 4px;
  top: 4px;
  position: absolute;
  display: none;
  z-index: auto;
  background: #ffffff;
  border-radius: 100%;
}

/*-checkbox-select-*/
/*-----forms-----*/
/*-----header-----*/
header {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 4;
  height: 90px;
}

.stub {
  height: 150px;
}

.logo {
  max-width: 210px;
  margin: 8px 0 0;
  grid-column: span 2;
}
.logo img {
  width: 100%;
}

.ico {
  display: inline-block;
  vertical-align: middle;
}

nav {
  grid-column: 2/span 6;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  text-decoration: underline;
}

.hamburger {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/ico-hamburger-black.png");
  width: 50px;
  height: 36px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 1;
  cursor: pointer;
  margin: 29px 40px;
}

/*-----header-----*/
/*-----footer-----*/
footer {
  background: #A5A5A5;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 15px;
}
footer a {
  text-decoration: none;
}

/*-----footer-----*/
/*-----hamburger-menu-----*/
.hamburger-menu {
  width: 50%;
  height: 100%;
  left: 100%;
  top: 0;
  position: fixed;
  display: flex;
  z-index: 5;
  background: #ffffff;
  padding: 3% 80px 0;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-out 0.5s;
}
.hamburger-menu.show {
  left: 50%;
}
.hamburger-menu .close {
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/close-b.png");
  margin: 30px;
  cursor: pointer;
}
.hamburger-menu a:hover {
  text-decoration: none;
  color: #483697;
}
.hamburger-menu ul,
.hamburger-menu li {
  display: block;
}
.hamburger-menu li {
  margin: 0 0 15px;
}
.hamburger-menu li a {
  font-size: 48px;
  font-family: "bold";
}
.hamburger-menu .additional-nav a {
  font-size: 24px;
  font-family: "medium";
}
.hamburger-menu .feedback-menu {
  font-size: 24px;
  font-family: "medium";
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.hamburger-menu .feedback-menu a {
  text-decoration: none;
  vertical-align: middle;
}
.hamburger-menu .feedback-menu img {
  width: 36px;
  margin-right: 30px;
}

/*-----hamburger-menu-----*/
/*-----slider-owl-----*/
.slider-owl {
  height: 300px;
  background: #A5A5A5;
}

.owl-prev,
.owl-next {
  width: 40px;
  height: 40px;
  left: auto;
  top: 50%;
  position: absolute;
  display: block;
  z-index: auto;
  margin: -20px 30px 0;
  font-size: 0;
}

.owl-prev {
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/arr-prev.png");
}

.owl-next {
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/arr-next.png");
}

.owl-dots {
  width: 100%;
  height: auto;
  left: auto;
  bottom: 30px;
  position: absolute;
  display: block;
  z-index: auto;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #1a1a1a;
  margin: 10px;
  cursor: pointer;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #1a1a1a;
}

/*-----slider-owl-----*/
/*-----slider-class-----*/
.slider-class {
  height: 300px;
  position: relative;
  background: #EFEFEF;
}
.slider-class .item {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  transition: ease-out 0.5s;
  overflow: hidden;
}
.slider-class .item.active {
  width: 100%;
  transition-duration: 0s;
}
.slider-class .item.active .slider-img {
  z-index: 2;
}
.slider-class .item.active-prev {
  width: 0%;
}
.slider-class .item.active-prev .slider-img {
  z-index: 3;
}
.slider-class .item .slider-img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 1;
  overflow: hidden;
  object-fit: cover;
}
.slider-class.move-right .item {
  left: auto;
  right: 0;
}
.slider-class.move-right .item .slider-img {
  left: auto;
  right: 0;
}
.slider-class .arr-prev,
.slider-class .arr-next {
  width: 40px;
  height: 40px;
  left: auto;
  top: 50%;
  position: absolute;
  display: block;
  z-index: 4;
  margin: -20px 30px 0;
  font-size: 0;
  cursor: pointer;
  display: none;
}
.slider-class .arr-prev {
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/arr-prev.png");
}
.slider-class .arr-next {
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/arr-next.png");
}
.slider-class .pagination {
  width: 100%;
  height: 40px;
  left: 0px;
  bottom: 10%;
  position: absolute;
  display: block;
  z-index: 3;
}
.slider-class .pagination span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #1a1a1a;
  margin: 10px;
  cursor: pointer;
}
.slider-class .pagination span:hover, .slider-class .pagination span.active {
  background: #1a1a1a;
}

/*-----slider-class-----*/
/*-----map-----*/
.map-container {
  position: relative;
  height: 400px;
  background: #A5A5A5;
}

.contacts-address {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
}

/*-----map-----*/
/*--------------------main-page-----*/
/*-----main-section-----*/
.main-section {
  height: 100vh;
  min-height: 650px;
}
.main-section .slider-class,
.main-section .item {
  height: 100%;
}
.main-section .pagination {
  padding-left: 60px;
}
.main-section .pagination span {
  border: 0;
  transform-origin: bottom;
  transition: ease-out 0.25s;
  font-family: "bold";
  font-size: 12px;
  margin-right: 15px;
  width: auto;
  height: 28px;
  vertical-align: bottom;
  line-height: 3.5;
}
.main-section .pagination span.prev-active, .main-section .pagination span.active + span {
  font-size: 24px;
  line-height: 1.5;
}
.main-section .pagination span.active, .main-section .pagination span:hover {
  background: none;
  font-size: 36px;
  line-height: 0.8;
}
.main-section .front-info {
  position: relative;
  width: 60%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: ease-out 0.5s;
  padding: 17% 80px 0;
}
.main-section .front-info h2 {
  font-size: 60px;
  margin: 0 0 0px;
}
.main-section .front-info .arrow-btn {
  margin: 30px 0;
}
.main-section .item.active .front-info {
  opacity: 1;
  visibility: visible;
}

/*-----main-section-----*/
/*-----rubric-section-----*/
.rubric-section {
  height: 740px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.rubric {
  position: relative;
  background: #483697;
  overflow: hidden;
}
.rubric img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: ease-out 0.25s;
}
.rubric h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 60px;
  margin: 30px;
}
.rubric:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}

.rubric-1 {
  grid-column: span 1;
  grid-row: 1/span 2;
}

/*-----rubric-section-----*/
/*-----links-section-----*/
.links-section {
  padding: 30px 40px;
}
.links-section .owl-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.links-section .ls-item:hover {
  color: #483697;
}
.links-section .ls-item:hover .arrow-btn {
  opacity: 1;
  visibility: visible;
}
.links-section h2 {
  font-family: "Medium";
  margin: 0 0 30px;
}
.links-section li {
  margin: 0 0 20px;
}
.links-section li a {
  text-decoration: none;
}
.links-section li a:hover {
  text-decoration: underline;
}
.links-section .arrow-btn {
  margin-top: 15px;
  transition: ease-out 0.25s;
  opacity: 0;
  visibility: hidden;
}
.links-section .arrow-btn:hover {
  transform: scale(1.1);
}

/*-----links-section-----*/
/*-----portfolio-section-----*/
.portfolio-section .ps-item {
  grid-column: span 1;
  padding-bottom: 50%;
  position: relative;
}
.portfolio-section .ps-item img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/*-----portfolio-section-----*/
/*-----step_work-section-----*/
.step_work-section .grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.step_work-section .sws-item {
  padding: 30px 30px 60px;
  text-align: center;
  position: relative;
}
.step_work-section .sws-item h3 {
  font-family: "medium";
  font-size: 36px;
}
.step_work-section .sws-item .inner-item {
  position: relative;
}
.step_work-section .sws-item i {
  font-style: normal;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  font-size: 250px;
  font-family: "bold";
  opacity: 0.05;
  transition: ease-out 0.25s;
}
.step_work-section .sws-item:hover i {
  color: #483697;
  opacity: 0.2;
}

/*-----step_work-section-----*/
/*-----partners-section-----*/
.partners-section {
  min-height: 650px;
  background: #1a1a1a;
  color: #ffffff;
  padding-bottom: 40px;
}
.partners-section h2 {
  color: inherit;
  padding-bottom: 60px;
}
.partners-section .line {
  max-width: 1640px;
  margin: 0 auto 30px;
  padding: 0 30px;
  text-align: center;
}
.partners-section .line > div {
  display: inline-block;
  vertical-align: middle;
}
.partners-section .line-1 > div,
.partners-section .line-3 > div {
  width: 24%;
}
.partners-section .line-1 img,
.partners-section .line-3 img {
  margin: auto;
  width: 100%;
  max-width: 160px;
}
.partners-section .line-2 > div {
  width: 40%;
}
.partners-section .line-2 img {
  margin: auto;
  width: 100%;
  max-width: 400px;
}

/*-----partners-section-----*/
/*-----feedback-section-----*/
.feedback-section .grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 40px;
}
.feedback-section .feedback-information {
  grid-row: span 2;
}
.feedback-section .feedback-information ul {
  margin: 0 0 30px;
}
.feedback-section .feedback-information ul li {
  margin: 0 0 5px;
}
.feedback-section .feedback-information h3 {
  font-size: 24px;
  font-family: "medium";
  margin: 0 0 30px;
  max-width: 80%;
}
.feedback-section .feedback-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
}
.feedback-section .feedback-form form div:nth-child(3) {
  grid-column: span 2;
}
.feedback-section .feedback-form form .btn-wc {
  margin-top: 20px;
}
.feedback-section .feedback-form .btn {
  width: auto;
}
.feedback-section .feedback-connections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.feedback-section .feedback-connections span {
  display: block;
}
.feedback-section .feedback-connections a {
  text-decoration: none;
  font-size: 24px;
  font-family: "medium";
}
.feedback-section .feedback-connections a:hover {
  color: #483697;
}

/*-----feedback-section-----*/
/*-----article-section-----*/
.article-section .grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  padding: 0 40px;
}
.article-section .as-item {
  background: #EFEFEF;
  padding: 28px 16px;
  border-radius: 30px 30px 0px 30px;
  margin: 0 0 40px;
  transition: ease-out 0.25s;
}
.article-section .as-item .data {
  font-size: 12px;
}
.article-section .as-item h3 {
  font-size: 24px;
  font-family: "medium";
  color: #483697;
  margin: 5px 0 15px;
}
.article-section .as-item:hover {
  background: #483697;
  color: #ffffff;
}
.article-section .as-item:hover .more-link:hover {
  color: #ffffff;
}
.article-section .as-item:hover h3 {
  color: inherit;
}
.article-section .as-item:hover .more-link:after {
  background: #ffffff;
}

/*-----article-section-----*/
/*-----_additional-section-----*/
.additional-section {
  padding: 30px 40px 90px;
}
.additional-section h2 {
  padding-left: 0;
}

/*-----_additional-section-----*/
/*--------------------main-page-----*/
/*--------------------contetn-page-----*/
/*-----contacts-page-----*/
/*-----contacts-page-----*/
/*-----simple-detail-----*/
.detail-head {
  padding: 0 40px;
}
.detail-head h1 {
  margin: 0 0 15px;
}
.detail-head .tags {
  margin: 0 0 15px;
}
.detail-head .tags span {
  margin-right: 10px;
}
.detail-head .tags a {
  text-decoration: none;
  margin-right: 10px;
}
.detail-head .tags a:hover {
  text-decoration: underline;
}
.detail-head .data {
  color: #A5A5A5;
  margin: 0 0 15px;
}

.detail-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 40px;
}

.col-text {
  grid-column: 1/span 7;
}

.col-img {
  grid-column: 9/span3;
}
.col-img img {
  width: 100%;
  margin: 0 0 30px;
}

.full-img {
  grid-column: 1/span 12;
  margin: 60px 0;
}
.full-img img {
  width: 100%;
}

/*porfolio-about-servises*/
.head-full-section {
  height: 100vh;
  background: #1a1a1a;
  position: relative;
  padding: 150px 40px 0;
}
.head-full-section .img-box {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.5;
}
.head-full-section .img-box img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  object-fit: cover;
}
.head-full-section .hf-content {
  position: relative;
  z-index: 2;
}
.head-full-section .front-billet {
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.head-full-section .front-billet .btn {
  margin-top: 40px;
}

.about-page h1 {
  text-align: right;
  padding-right: 25%;
}

.img-full {
  width: 100%;
}

.serv-detail {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(12, 1fr);
}
.serv-detail .sd-topic {
  grid-column: span 4;
  display: flex;
}
.serv-detail .sd-topic h2 {
  margin: auto;
}
.serv-detail .sd-content {
  grid-column: span 8;
}
.serv-detail .sdc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}

/*porfolio-about-servises*/
/*-----simple-detail-----*/
/*-----simple-list-----*/
.list-wrap {
  padding: 0 0px;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  margin: 0 0 30px;
}
.list-item .list-img,
.list-item .list-description {
  grid-column: span 1;
}
.list-item .tags {
  margin: 0 0 30px;
}
.list-item .tags span,
.list-item .tags a {
  margin-right: 15px;
  text-decoration: none;
}
.list-item .tags a:hover {
  text-decoration: underline;
}
.list-item .list-img {
  position: relative;
}
.list-item .list-img img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.list-item h2 {
  font-size: 36px;
  font-family: "medium";
  margin: 0 0 8px;
}
.list-item .data {
  margin: 8px 0 0;
  color: #A5A5A5;
}

/*-----simple-list-----*

/*-----price-page-----*/
.services-container {
  padding: 0 40px;
  margin: 0 0 30px;
}
.services-container h2 {
  font-size: 48px;
}

.services-table {
  margin-top: 90px;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  display: grid;
  position: relative;
}
.services-table .sn-name {
  grid-column: 1/span 3;
  padding: 15px 0 0px;
  height: 70px;
}
.services-table .line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #483697;
  top: 0;
  opacity: 0.5;
}
.services-table .th-price {
  grid-row: 1;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -30px;
  right: 50%;
}
.services-table .th-price-1 {
  grid-column: 4/span 1;
}
.services-table .line-1 {
  grid-column: 4;
}
.services-table .th-price-2 {
  grid-column: 5/span 1;
}
.services-table .line-2 {
  grid-column: 5;
}
.services-table .th-price-3 {
  grid-column: 6/span 1;
}
.services-table .line-3 {
  grid-column: 6;
}
.services-table .th-price-4 {
  grid-column: 7/span 1;
}
.services-table .line-4 {
  grid-column: 7;
}
.services-table .th-price-5 {
  grid-column: 8/span 1;
}
.services-table .line-5 {
  grid-column: 8;
}
.services-table .th-price-6 {
  grid-column: 9/span 1;
}
.services-table .line-6 {
  grid-column: 9;
}
.services-table .th-price-7 {
  grid-column: 10/span 1;
}
.services-table .line-7 {
  grid-column: 10;
}
.services-table .th-price-8 {
  grid-column: 11/span 1;
}
.services-table .line-8 {
  grid-column: 11;
}
.services-table .th-price-9 {
  grid-column: 12/span 1;
}
.services-table .line-9 {
  grid-column: 12;
}
.services-table .line-10 {
  grid-column: 13;
}

.deadline-el {
  position: absolute;
  color: #ffffff;
  background: #483697;
  width: 100%;
  height: calc(80% - 25px);
  margin: 15px 0 0;
  border-radius: 15px;
  display: flex;
  padding: 0 15px;
  overflow: hidden;
}
.deadline-el .de-text {
  margin: auto 0;
}

.deadline-el-1 {
  grid-column: 4/span 3;
  grid-row: 1/span 1;
}

.deadline-el-2 {
  grid-column: 6/span 3;
  grid-row: 2/span 1;
}

.deadline-el-3 {
  grid-column: 5/span 3;
  grid-row: 3/span 1;
}

.deadline-el-4 {
  grid-column: 6/span 13;
  grid-row: 4/span 1;
}

.deadline-el-5 {
  grid-column: 8/span 13;
  grid-row: 5/span 1;
}

.deadline-el-6 {
  grid-column: 8/span 13;
  grid-row: 6/span 1;
}

.deadline-el-7 {
  grid-column: 7/span 13;
  grid-row: 7/span 1;
}

.deadline-el-8 {
  grid-column: 10/span 13;
  grid-row: 8/span 1;
}

.deadline-el-9 {
  grid-column: 11/span 13;
  grid-row: 9/span 1;
}

.more-time {
  background-color: #241b4c;
  width: 42px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url("../images/two-arr.png");
}

.sn-item {
  margin: 0 0 30px;
}
.sn-item h3 {
  font-size: 24px;
}
.sn-item h3 span {
  margin-top: 8px;
  font-family: "regular";
  font-size: 18px;
  display: block;
}

/*-----gray-item-----*/
.services-grid {
  display: grid;
  margin: 40px 0 0;
  grid-column-gap: 80px;
  grid-template-columns: repeat(4, 1fr);
}
.services-grid.large {
  grid-template-columns: repeat(3, 1fr);
}

.services-item {
  background: #EFEFEF;
  padding: 16px;
  border-radius: 30px 30px 0px 30px;
  margin: 0 0 40px;
  grid-column: span 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: ease-out 0.25s;
}
.services-item:hover {
  background: #483697;
  color: #ffffff;
}
.services-item h3,
.services-item .item-price {
  font-family: "medium";
  font-size: 24px;
}
.services-item .item-footer {
  text-align: right;
}

/*-----gray-item-----*/
.price-commercial {
  position: relative;
  padding: 0 40px 180px;
}
.price-commercial h2 {
  margin: 0 0 40px;
}
.price-commercial .commercial-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  display: grid;
  z-index: 2;
  position: relative;
  grid-column-gap: 80px;
}
.price-commercial .commercial-grid .cg-item {
  background: #EFEFEF;
  padding: 16px;
  border-radius: 30px 30px 0px 30px;
  margin: 0 0 75px;
  grid-column: span 1;
}
.price-commercial .commercial-grid .cg-item h3 {
  text-align: center;
  margin: 0 0 15px;
}
.price-commercial .commercial-grid .cg-item:hover {
  background: #483697;
  color: #ffffff;
}
.price-commercial .commercial-bg {
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: auto;
}
.price-commercial .commercial-bg img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.services-grid.owl-ariticle {
  display: grid;
}

/*-----price-page-----*/
/*-----thanks-page-----*/
.thanks-container {
  display: grid;
  padding: 0 40px;
  margin-top: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.thanks-container .thanks-item {
  grid-column: span 1;
  text-align: center;
  margin: 0 0 40px;
}
.thanks-container .thanks-item img {
  width: 100%;
}
.thanks-container .thanks-item h2 {
  font-family: "medium";
  font-size: 24px;
  padding: 12px 0 8px;
}
.thanks-container .thanks-item:hover {
  color: #483697;
}

.thanks-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
  padding: 0 40px;
  font-family: "medium";
}
.thanks-detail .img-container {
  grid-column: span 5;
}
.thanks-detail .img-container img {
  width: 100%;
}
.thanks-detail .content-container {
  grid-column: span 7;
  display: flex;
  font-size: 24px;
}
.thanks-detail .content-container .data {
  margin: 110px 0 0;
}
.thanks-detail .content-container h1 {
  font-size: 36px;
  margin: 8px 0 25px;
}
.thanks-detail .inner-content {
  margin: auto;
}

.btn-mobile {
  display: none;
}

.btn-desktop {
  display: block;
}

/*-----thanks-page-----*/
/*--------------------contetn-page-----*/