.partners-section {
  min-height: 650px;
  background: $blackColor;
  color: $whiteColor;
  padding-bottom: 40px;

  h2 {
    color: inherit;
    padding-bottom: 60px;
  }

  .line {
    max-width: 1640px;
    margin: 0 auto 30px;
    padding: 0 30px;
    text-align: center;

    &>div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .line-1,
  .line-3 {
    &>div {
      width: 24%;
    }

    img {
      margin: auto;
      width: 100%;
      max-width: 160px;
    }
  }

  .line-2 {
    &>div {
      width: 40%;
    }

    img {
      margin: auto;
      width: 100%;
      max-width: 400px;
    }
  }



}