.portfolio-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .ps-item {
    grid-column: span 1;
    padding-bottom: 50%;
    position: relative;

    img {
      @include boxSchemeImgFull();
    }
  }
}