.step_work-section {

  .grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sws-item {
    padding: 30px 30px 60px;
    text-align: center;
    position: relative;

    h3 {
      font-family: "medium";
      font-size: $middleSize;
    }

    .inner-item {
      position: relative;
    }

    i {
      font-style: normal;
      @include positionElement(100%, 100%);
      font-size: 250px;
      font-family: "bold";
      opacity: 0.05;
      transition: ease-out 0.25s;
    }

    &:hover {
      i {
        color: $violetColor;
        opacity: 0.2;
      }
    }
  }
}