.price-commercial
	h2.global Почему нам доверяют
	.commercial-grid
		each val in ["","","",""]
			.cg-item
				h3 	Мы делаем проекты бизнес-класса
				div Конечно, вы можете найти фрилансера, который сделает вам сайт в 10 раз дешевле. Но более продуманным решением будет заказать сайт у профессионалов, которые полностью несут ответственность за качество своей работы. 
	.commercial-bg
		img(src="../images/rubric-1.jpg")