.slider-owl.owl-carousel
  each val in [1,2,3]
    .item
        img.img-cover(src="../images/img-1.jpg", alt="img")
        div.front-info
          h2= 'Создание сайтов' + val
          a.arrow-btn(href="#")
            img(src="../images/arr-next-gray-lite.png", alt="arrow")
          div Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis egestas quis vel justo. Maecenas semper suscipit nunc, sed aliquam sapien convallis eu. Nulla ut turpis in diam dapibus consequat.