.slider-class {
  height: 300px;
  position: relative;
  background: $grayColorLite;

  .item {
    @include positionElement(100%, 100%);
    transition: ease-out 0.5s;
    overflow: hidden;

    &.active {
      width: 100%;
      transition-duration: 0s;

      .slider-img {
        z-index: 2;
      }
    }

    &.active-prev {
      width: 0%;

      .slider-img {
        z-index: 3;

      }
    }

    .slider-img {
      @include positionElement(100%, 100%, 0, 0, left, top, 1);
      overflow: hidden;
      object-fit: cover;
    }
  }

  &.move-right {
    .item {
      left: auto;
      right: 0;

      .slider-img {
        left: auto;
        right: 0;
      }
    }
  }

  .arr-prev,
  .arr-next {
    @include positionElement(40px, 40px, auto, 50%, left, top, 4);
    margin: -20px 30px 0;
    font-size: 0;
    cursor: pointer;
    display: none;
  }

  .arr-prev {
    left: 0;
    @include bgImageEl("../images/arr-prev.png");
  }

  .arr-next {
    right: 0;
    @include bgImageEl("../images/arr-next.png");
  }

  .pagination {
    @include positionElement(100%, 40px, 0px, 10%, left, bottom, 3);

    span {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 100%;
      border: 1px solid $blackColor;
      margin: 10px;
      cursor: pointer;

      &:hover,
      &.active {
        background: $blackColor;
      }
    }


  }
}