// temp


// tepm
/*default*/
h1,
.main-section .front-info h2,
.rubric h3 {
  font-size: 18px;
}

.default-wrap {
  padding: 0 15px;
}

.thanks-detail .content-container h1,
.list-item h2,
.step_work-section .sws-item h3,
h2 {
  font-size: 18px;
}

.arrow-btn img {
  width: 45px;
}

header .main-grid {
  display: block;
  padding: 0 15px;
}

.logo {
  max-width: 130px;
}

h2.global {
  position: relative;
  padding: 40px 15px 15px;
  z-index: 2;
}

.hamburger-menu li a,
.services-container h2,
h2.global {
  font-size: 18px;
}

.desktop-hidden {
  display: block;
}

.btn {
  font-size: 18px;
  background-position: right 9px;
}

.hamburger {
  background-color: #fff;
  width: 50px;
  height: 50px;
  background-size: 80%;
  margin: 15px;
  position: fixed;
}

.hamburger-menu {
  width: 100%;
  padding: 15px;

  .close {
    margin: 15px;
    width: 30px;
    height: 30px;
  }

  .feedback-menu {
    display: block;
    padding-bottom: 0;
  }

  .feedback-contacts {
    margin-top: 10px;
  }
}

.hamburger-menu.show {
  left: 0%;
}

/*default*/
/*main-page*/

.main-section {
  min-height: auto;

  .pagination {
    padding-left: 15px;
    bottom: 30px;
  }

  .front-info {
    width: 100%;

    padding: 15px;
    padding-top: 90px;
  }
}

.rubric-section {
  display: block;
  height: auto;

  .rubric {
    font-size: 0;

    h3 {
      width: 100%;
      text-align: center;
      margin: 30px auto;
    }

    img {
      position: relative;

    }
  }
}

.portfolio-section {
  display: block;
  overflow: hidden;
}

.owl-portfolio.owl-carousel {
  width: 80%;

  .owl-stage-outer {
    overflow: visible;
  }
}

.additional-section {
  padding: 0 15px;

  h2.global {
    padding-left: 0;
    padding-right: 0;
  }
}

.article-section {
  position: relative;
  overflow: hidden;

  .grid-section {
    display: block;
    padding: 0 15px;
  }

  .as-item {
    margin: 0;
  }
}

.owl-ariticle.owl-carousel {
  width: 80%;

  .owl-stage-outer {
    overflow: visible;
  }
}

.feedback-section {
  .grid-section {
    padding: 0 15px;
    display: block;
  }

  .feedback-form form {
    display: block;

    input {
      margin: 0 0 7px;
    }

  }

  .feedback-connections {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.partners-section {
  padding-bottom: 0;

  .line {
    display: block;
    text-align: center;

    img {
      margin: 0 auto 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.step_work-section {
  position: relative;
  overflow: hidden;

  .grid-section {
    display: block;
  }

  .sws-item i {
    font-size: 150px;
  }
}

.owl-step_work.owl-carousel {
  width: 80%;

  .inner-item {
    text-align: left;
  }

  .owl-stage-outer {
    overflow: visible;
  }
}

.links-section {
  display: block;
  padding: 30px 15px 0;
}

.links-section {
  position: relative;
  overflow: hidden;

}

.owl-links.owl-carousel {
  width: 80%;

  .inner-item {
    text-align: left;
  }

  .owl-stage-outer {
    overflow: visible;
  }
}

/*about*/
.head-full-section .front-billet {
  left: 0;
  width: 100%;
}

.about-page h1 {
  text-align: left;
}

.price-commercial {
  padding: 0 15px 30px;

  .commercial-grid {
    display: block;

    .cg-item {
      margin-bottom: 30px;
    }


  }

  .commercial-bg {
    left: 0;
    width: 100%;
  }
}


/*about*/
/*list*/
.default-wrap h1 {
  margin: 0 0 30px;
}

.stub {
  height: 90px;
}

.list-item {
  display: block;
  margin: 0 0 60px;

  h2 {
    padding: 30px 0 15px;
  }

  .list-img {
    height: 150px;
  }
}

.btn-more {

  margin: 30px 0;
  padding: 15px 0;
  font-size: 16px;

  i {
    width: 20px;
    height: 20px;
  }
}

/*list*/
/*servises*/
.services-grid {
  display: block;
}

.services-container {
  padding: 0 15px;
  position: relative;
  overflow-x: auto;
  position: relative;
  overflow: hidden;

}

.price-section {}

.services-table {
  width: 1240px;
}

/*servises*/
/*detail*/
.serv-detail {
  display: block;
  padding: 15px;
  position: relative;
  overflow: hidden;

  .services-item {
    height: auto;

    h3 {
      font-size: 18px;
    }
  }

  .sd-topic h2 {
    padding: 30px 0 15px;
    margin: 0;
  }

  .sdc-grid {
    display: block;
  }

  .step_work-section .sws-item {
    padding: 30px 30px 60px 0px;
  }
}

.detail-head,
.detail-content {
  padding: 0 15px;
  display: block;
}

.full-img {
  margin: 0 0 30px;
}

/*detail*/
/*.thanks-container*/
.thanks-container {
  display: block;
}

.thanks-detail {
  display: block;
  padding: 0 15px;

  .content-container .data {
    margin: 30px 0 0;
  }
}

.btn-mobile {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  background-size: 30px;
  background-position: left 11px;
}

.btn-desktop {
  display: none;
}

/*.thanks-container*/