$blackColor: #1a1a1a;

$grayColor: #A5A5A5;


$whiteColor: #ffffff;

$redColor: #f25368;

$blueColor: #00a1ff;

$yellowColor: #D4AF93;

$violetColor: #483697;

$grayColorSecond: #EFEFEF;

$smallSize: 12px;
$standartSize: 18px;


$middleSize: 36px;
$commonSize: 48px;
$largeSize: 60px;