section.article-section
  h2.global Блог и события
  .grid-section.owl-ariticle.owl-carousel
    .as-item
      .data 16.02.2020
      h3 Как создать сайт, пособие для заказчика. 
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Seo - оптимизация. Зачем нужно и на что влияет
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Тренды веб-разработки 2020
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Структура сайтов, захват внимания или UX дизайн 
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Как создать сайт, пособие для заказчика. 
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Seo - оптимизация. Зачем нужно и на что влияет
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Тренды веб-разработки 2020
      a.more-link(href="#") Подробнее
    .as-item
      .data 16.02.2020
      h3 Структура сайтов, захват внимания или UX дизайн
      a.more-link(href="#") Подробнее