section.feedback-section
  h2.global Обсудим?
  .grid-section
    .feedback-information
      ul.ln
        li  Ваш сайт не продает?
        li  Хотите заказать услугу?
        li  Хотите проконсультироваться?
        li  Работает не так как бы вы хотели?
        li  Настроили рекламу, а продаж нет?
        li  Ограниченный бюджет на разработку?
        li  У вас есть идея, но не знаете с чего начать?
      h3 Заполните форму слева, и мы ответим на все ваши вопросы. 
      h3 Вы можете получить аудит сайта бесплатно, мы найдем и предложим решение вашей проблемы!
      h3 Давайте сделаем из идеи проект, которой будет работать!
    .feedback-form
      form
        div
          input.check-mail(type="mail" placeholder="E-mail")
        div
          input.input-file(type="file" accept="image/jpeg,image/png,image/gif" placeholder="Прикрепить файл")
        div
          textarea(placeholder="Сообщение")
        div.btn-wc
          input.btn.btn-send(type="submit")
    .feedback-connections
      .fc-item
        span Звонок:
        a(href="tel:+79999999999") +7 (999) 999-99-99
      .fc-item
        span Почта::
        a(href="mailto:name@domain.com") name@domain.com
      .fc-item
        span Whats app:
        a(href="#") +7 (999) 999-99-99
      .fc-item
        span Instagram:
        a(href="#") @expil.int
      .fc-item
        span Telegramm:
        a(href="#") +7 (999) 999-99-99
      .fc-item
        span Вконтакте:
        a(href="#") expil.int     
