section.links-section
  .owl-links.owl-carousel
    .ls-item
      h2 Поддержка
      ul.ln
        each val in ["Поддержка сайтов","Внедрение доп. модулей","Исправление ошибок","Доработки по сайту"]
          li 
            a(href="#")
              = val
      a.arrow-btn(href="#") 
        img(src="../images/arr-next-violet-lite.png", alt="arr")
    .ls-item
      h2 Продвижение
      ul.ln
        each val in ["SEO - продвижение","Контекстная реклама","SMM","Аудит рекламы"]
          li 
            a(href="#")
              = val
      a.arrow-btn(href="#") 
        img(src="../images/arr-next-violet-lite.png", alt="arr")
    .ls-item
      h2 Контент
      ul.ln
        each val in ["Фотосессии для бизнеса","Съемки с квадрокоптера","Создание иллюстраций","Написание текстов"]
          li 
            a(href="#")
              = val
      a.arrow-btn(href="#") 
        img(src="../images/arr-next-violet-lite.png", alt="arr")
    .ls-item
      h2 Анализ и аудит
      ul.ln
        each val in ["Технический аудит","Аудит юзабилити","Поисковый аудит","Маркетинговый аудит"]
          li 
            a(href="#")
              = val
      a.arrow-btn(href="#")
        img(src="../images/arr-next-violet-lite.png", alt="arr")