section.partners-section
  h2.global 
    |Мы гордимся работой с нашими
    br
    | заказчками!
  .line.line-1
    div
      img(src="../images/partners/1.png", alt="partners")
    div
      img(src="../images/partners/2.png", alt="partners")
    div
      img(src="../images/partners/3.png", alt="partners")
    div
      img(src="../images/partners/4.png", alt="partners")
  .line.line-2
    img(src="../images/partners/5.png", alt="partners")
    img(src="../images/partners/6.png", alt="partners")
  .line.line-3
    img(src="../images/partners/7.png", alt="partners")
    img(src="../images/partners/8.png", alt="partners")
    img(src="../images/partners/9.png", alt="partners")