section.rubric-section
  .rubric.rubric-1
    img(src="../images/rubric-1.jpg", alt="")
    h3 Создание сайтов
  .rubric.rubric-2
    img(src="../images/rubric-2.jpg", alt="")
    h3 Дизайн
  .rubric.rubric-3
    img(src="../images/rubric-3.jpg", alt="")
    h3 Разработка приложений