section.step_work-section
  h2 Как мы работаем?
  .grid-section
    .sws-item
      i 01
      .inner-item
        h3 Связь с нами
        p После того, как будщий заказчик ознакоситься с нашими работами, и примет решение саязаться с нами по номеру, почте, или любыми способами указанными на странице Контакты, мы договариваемя о встрече. 
    .sws-item
      i 02
      .inner-item
        h3 Связь с нами
        p На встрече наш сотруднк в процессе беседы с заказчиком, или его представителем, выявляет требования к будущему продукту, бизнес-процес, пожелания, а так же ответит на интересующие вопросы детально. Возиожно выдвенет предположения, на счет будущего продукта.
    .sws-item
      i 03
      .inner-item
        h3 Связь с нами
        p После встречи с заказчком наши специалисты выявляют несколько решений, и оценивают их, предлагая заказчику несколько вариантов, с различным бюджетом, объясняя плюсы и минусы каждого из вариантов.
    .sws-item
      i 04
      .inner-item
        h3 Связь с нами
        p Заказчик выбирает из предложенных решений, обговариваем сроки, бюджет, этапы, оплату, подписываем договор и техническое задание. Заказчик начинает сбор своей информации для передачи нам. 
    .sws-item
      i 05
      .inner-item
        h3 Связь с нами
        p Мы производим анализ рынка, и выявляем плюсы и минусы каждого из лидеров нишы нашего заказчика, и на основе этого предлагаем варианты концепции.
    .sws-item
      i 06
      .inner-item
        h3 Связь с нами
        p В течении короткого времени мы присылаем свои варианты дизайн концепции, контекта и пр., заказчик выбирает и утверждает, либо вносит правки и пожелания.
    .sws-item
      i 07
      .inner-item
        h3 Связь с нами
        p Разрабатываем техническую back-end часть продукта. Предоставляем заказчику полный внешний вид, по дизайн-прототипу которому заказчкик может "походить". На данном этапе от заказчика ждем правок и внешнего вида продуктов.
    .sws-item
      i 08
      .inner-item
        h3 Связь с нами
        p После утверждения заказчиком внешнего вида, front-end и back-end разработчики работают над версткой и разработкой продукта, програмирвоания бизнес-процесов, и пр.
    .sws-item
      i 09
      .inner-item
        h3 Связь с нами
        p Как только проект приближается к концу, он проходит различные тестирвоания, на соответсвие техничесокму заданию, выясняется и исправляются недочеты, проект готоавиться к сдаче
    .sws-item
      i 10
      .inner-item
        h3 Сдача
        p Проект сдается заказчику, заказчик выявляет недочеты по поводу работы продукта. Мы исправляем выялвленные заказчиком недочеты, готовим проект к внедрению.
    .sws-item
      i 11
      .inner-item
        h3 Внедрение
        p Продукт внедряется в систему заказчика, отлаживатся, публикуется в магазины, активируются системы для полноценной работы. Заказчик производит крайний платеж, в рамках договора, предоставляется гарантия на продкут.  При выявлении недочетов исправляем их.
    .sws-item
      i 12
      .inner-item
        h3 Тех. поддержка
        p Мы оказываем услуги технической поддержки, при заключении договора с абонентской платой произвоим информационное и техническое обслуживание систем, а так же их доработки.