doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// popup
		
		// hamburger-menu
		include default/hamburger-menu.pug
		// hamburger-menu
		
		// popup

		// header
		include default/header.pug
		// header
		.stub
		section.feedback-section
			.default-wrap
				h1 Контакты
				p Можете просто позвонить или связаться с нами написать удобным для вас способом.

			// feedback-contacts
			include default/feedback-contacts.pug
			// feedback-contacts