doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// popup
		
		// hamburger-menu
		include default/hamburger-menu.pug
		// hamburger-menu
		
		// popup

		// header
		include default/header.pug
		// header
		.head-full-section
			img(src="../images/img-1.jpg")
			.hf-content
				h1 Наши работы. Мы решаем задачи для конкретного бизнеса, путем анализа рынка, составления портрета вашего клиента, современного дизайна  составления портрета вашего клиента, современного дизайна
		// portfolio-section
		include main-page/portfolio-section.pug
		// portfolio-section
		// portfolio-section
		include main-page/portfolio-section.pug
		// portfolio-section