doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// popup
		
		// hamburger-menu
		include default/hamburger-menu.pug
		// hamburger-menu
		
		// popup

		// header
		include default/header.pug
		// header
		.stub
		section.price-section
			.default-wrap
				h1 Цена
			.services-container
				h2 Разработка сайтов
				.services-table
					.sn-item.sn-name
						h3 Сайт Light на конструкторе (Tilda)
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Многостраничный сайт на конструкторе (Tilda) 
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Landing page
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Корпоративный сайт
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Корпоративный сайт с продукцией (каталог)
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Интернет-магазин
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 1с-Битрикс
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Комплексные решения
							span Быстрый лендинг 
					.sn-item.sn-name
						h3 Интернет-платформы
							span Быстрый лендинг
					.th-price.th-price-1 20 000 ₽
					.th-price.th-price-2 40 000 ₽
					.th-price.th-price-3 60 000 ₽
					.th-price.th-price-4 80 000 ₽
					.th-price.th-price-5 100 000 ₽
					.th-price.th-price-6 120 000 ₽
					.th-price.th-price-7 140 000 ₽
					.th-price.th-price-8 160 000 ₽
					.line.line-1
					.line.line-2
					.line.line-3
					.line.line-4
					.line.line-5
					.line.line-6
					.line.line-7
					.line.line-8
					.line.line-9
					.line.line-10
					.deadline-el.deadline-el-1 
						.de-text Срок: от 2х дней
					.deadline-el.deadline-el-2 
						.de-text Срок: от 1 недели
					.deadline-el.deadline-el-3 
						.de-text Срок: от 2х недель
					.deadline-el.deadline-el-4 
						.de-text Срок: от 1 месяца
						.more-time
					.deadline-el.deadline-el-5 
						.de-text Срок: от 1 месяца
						.more-time
					.deadline-el.deadline-el-6 
						.de-text Срок: от 1 месяца
						.more-time
					.deadline-el.deadline-el-7 
						.de-text Срок: от 2х недель
						.more-time
					.deadline-el.deadline-el-8 
						.de-text Срок: от 1 месяца
						.more-time
					.deadline-el.deadline-el-9 
						.de-text 
						.more-time
			.services-container
				h2 Мобильное приложение
				.services-grid.large
					.services-item
						h3 Разработка мобльных приложений iOS + Android
						.item-footer
							.item-price от 400 000 ₽
							.term Срок: от 2 месяцев
					.services-item
						h3 Разработка пользовательсокго интерфейса и дизайна
						.item-footer
							.item-price от 30 000 ₽
							.term Срок: от 3 недель
			.services-container
				h2 Продвижение и реклама
				.services-grid.owl-ariticle.owl-carousel
					.services-item
						h3 Продвижение сайта (Seo+контекст)
						.item-footer
							.item-price от 25 000 ₽
							.term Срок: от 1 недели
					.services-item
						h3 Seo-продвижение 
						.item-footer
							.item-price от 10 000 ₽
							.term Срок: от 1 недели
					.services-item
						h3 Контекстная реклама Google или Яндекс
						.item-footer
							.item-price от 10 000 ₽
							.term Срок: от 4 дней
					.services-item
						h3 Контекстная реклама Google или Яндекс
						.item-footer
							.item-price от 20 000 ₽
							.term Срок: от 4 дней
					.services-item
						h3 SMM
						.item-footer
							.item-price от 30 000 ₽
							.term Срок: от 1 недели
					.services-item
						h3 Таргетированная реклама
						.item-footer
							.item-price от 30 000 ₽
							.term Срок: от 4 дней
					.services-item
						h3 Разовая настройка контекстной рекламы
						.item-footer
							.item-price от 15 000 ₽
							.term Срок: от 4 дней
					.services-item
						h3 Ведение контекстной рекламы
						.item-footer
							.item-price от 10 000 ₽
							.term Срок: от в месяц
			.services-container
				h2 Другие услуги
				.services-grid.owl-ariticle.owl-carousel
					.services-item
						h3 Поддержка сайтов
						.item-footer
							.item-price от 8 000 ₽
							.term  в месяц
					.services-item
						h3 Введение социальных сетей 
						.item-footer
							.item-price от 20 000 ₽
							.term в месяц
					.services-item
						h3 Создание контента
						.item-footer
							.item-price от 5 000 ₽
							.term Срок: от 2 дней
					.services-item
						h3 Первичный аудит
						.item-footer
							.term Бесплатно
					.services-item
						h3 Технический аудит 
						.item-footer
							.item-price от 10 000 ₽
							.term Срок: от 2 дней
					.services-item
						h3 Аудит пользовательского интерфейса
						.item-footer
							.item-price от 10 000 ₽
							.term Срок: от 2 дней
					.services-item
						h3 Маркетинговый аудит
						.item-footer
							.item-price от 20 000 ₽
							.term Срок: от 4 дней
			// price-commercial
			include default/price-commercial.pug
			// price-commercial

			// feedback-section
			include main-page/feedback-section.pug
			// feedback-section
			.stub