doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// popup
		
		// hamburger-menu
		include default/hamburger-menu.pug
		// hamburger-menu
		
		// popup

		// header
		include default/header.pug
		// header
		.stub 
		section.feedback-section
			.detail-head
				h1 Simple detail
				.tags
					span Теги:
					each val in ["Вариант тега", "Вариант тега", "Второй вариант тега"]
						a(href="#")
							= val
				.data Дата публикации: 18/01/2019
			.detail-content
				.col-text
					p
						|Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Phone American Apparel. Austin kitsch tofu chia, brunch hoodie. 
						|Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. 
						|Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep 
						|Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Phone American Apparel. Austin kitsch tofu chia, brunch hoodie. 
				.col-img
					.small-img
						img(src="../images/img-3.jpg")
					.small-img
						img(src="../images/img-3.jpg")
				.full-img
					img(src="../images/img-3.jpg")
				.col-text
					p
						|Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Phone American Apparel. Austin kitsch tofu chia, brunch hoodie. 
						|Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. 
						|Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips.Phone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep 
						|Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party Thundercats PBR Etsy. Flexitarian Williamsburg tote bag iPhone American Apparel. Austin kitsch tofu chia, brunch hoodie Tonx semiotics trust fund kale chips. Phone American Apparel. Austin kitsch tofu chia, brunch hoodie. 
				.col-img
					.small-img
						img(src="../images/img-3.jpg")