doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// popup
		
		// hamburger-menu
		include default/hamburger-menu.pug
		// hamburger-menu
		
		// popup

		// header
		include default/header.pug
		// header
		.stub
		.thanks-detail
			a(href="#").btn-back.btn-mobile Назад
			.img-container
				img(src="../images/g1.jpg")
			.content-container
				.inner-content
					a(href="#").btn-back.btn-desktop Назад
					.data 16.02.2020
					h1 Благодарственное письмо Департамента Промышленности, Инноваций и Предпринимательства Мэрии города Новосибирска
					.description Сайт для Департамента Промышленности, Инноваций и Предпринимательства Мэрии города Новосибирска  
		.stub