.main-section {
  height: 100vh;


  .slider-owl,
  .item {
    height: 100%;
  }

  .item {
    padding: 0 80px;
  }

  .front-info {
    position: relative;
    padding-top: 25%;
    width: 60%;
  }
}