.btn {
  text-decoration: none;
  position: relative;
  padding: 4px 50px 5px 0px;
  background: none;
  font: inherit;
  font-size: $middleSizeMini;
  display: inline-block;
  color: inherit;
  border: 0;
  cursor: pointer;
  transition: ease-out 0.25s;

  @include bgImageEl ("../images/arr-next-black-lite.png", 40px, right 13px);

  &:hover {
    color: $violetColor;
    padding-right: 60px;
    background-image: url("../images/arr-next-violet-lite.png");
  }
}

.more-link {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    @include positionElement(32px, 2px, 100%, 50%);
    background: $blackColor;
    margin-left: 10px;
  }

  &:hover {
    color: $violetColor;

    &:after {
      background: $violetColor;
    }
  }
}

.arrow-btn {
  img {
    width: 90px;
  }
}