.btn {
  text-decoration: none;
  position: relative;
  padding: 4px 50px 5px 0px;
  background: none;
  font: inherit;
  font-size: $middleSizeMini;
  display: inline-block;
  color: inherit;
  border: 0;
  cursor: pointer;
  transition: ease-out 0.25s;

  @include bgImageEl ("../images/arr-next-black-lite.png", 40px, right 13px);

  &:hover {
    color: $violetColor;
    padding-right: 60px;
    background-image: url("../images/arr-next-violet-lite.png");
  }
}

.more-link {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    @include positionElement(32px, 2px, 100%, 50%);
    background: $blackColor;
    margin-left: 10px;
  }

  &:hover {
    color: $violetColor;

    &:after {
      background: $violetColor;
    }
  }
}

.arrow-btn {
  img {
    width: 90px;
  }
}

.btn-more {
  cursor: pointer;
  margin: 60px 0;
  padding: 15px 0;
  text-align: center;
  font-family: "medium";
  font-size: $middleSizeMini;



  i {
    display: inline-block;
    width: 34px;
    height: 34px;
    @include bgImageEl("../images/ico-plus.png");
    margin-right: 15px;
  }

  &:hover {
    background: $violetColor;
    color: $whiteColor;

    i {
      @include bgImageEl("../images/ico-plus-w.png");
    }
  }

  i,
  span {
    vertical-align: middle;
  }
}