header {
  @include positionElement(100%, auto, 0, 0, left, top, 3);

  height: 90px;

}

.stub {
  height: 150px;
}

.logo {
  max-width: 210px;
  margin: 8px 0 0;
  grid-column: span 2;

  img {
    width: 100%;
  }
}

.ico {
  display: inline-block;
  vertical-align: middle;
}

nav {
  grid-column: 2/span 6;

  ul {
    display: flex;
    justify-content: space-between;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hamburger {
  @include bgImageEl("../images/ico-hamburger-black.png");
  @include positionElement(50px, 36px, 0, 0, right, top, 1);
  cursor: pointer;
  margin: 29px 40px;
}